<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssmblog.dao.ContactsMapper">
  <resultMap id="BaseResultMap" type="com.ssmblog.entity.Contacts">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="dob" jdbcType="DATE" property="dob" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="BIGINT" property="mobile" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, address, gender, dob, email, mobile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contacts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from contacts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssmblog.entity.Contacts">
    insert into contacts (id, name, address, 
      gender, dob, email, mobile
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{dob,jdbcType=DATE}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssmblog.entity.Contacts">
    insert into contacts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="dob != null">
        dob,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="dob != null">
        #{dob,jdbcType=DATE},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssmblog.entity.Contacts">
    update contacts
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="dob != null">
        dob = #{dob,jdbcType=DATE},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssmblog.entity.Contacts">
    update contacts
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      dob = #{dob,jdbcType=DATE},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findAllContacts" resultMap="BaseResultMap">
    SELECT *
    FROM contacts
  </select>
  <select id="findByContactName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT *
    FROM contacts
    WHERE name LIKE #{name,jdbcType=VARCHAR}
  </select>
</mapper>